<%- include('partials/header') %>

<div class='ui main text container'>
    <div class='ui huge header'>All Blogs</div>
    <% blog.forEach(function(blog) { %>
        <%= blog.title %>
        <%= blog.author %>
        <%= blog.body %>
    <% }) %>
</div>

<%- include('partials/footer') %>